# List

In [ ]:
list1 =  [1, 2, 3, "Python", True, 5.8]      # collection of object

In [1]:
b = [1, 2, 3]

In [2]:
b * 2

[1, 2, 3, 1, 2, 3]

In [5]:
b.append(10)
b

[1, 2, 3, 10, 10, 10]

In [6]:
b

[1, 2, 3, 10, 10, 10]

In [7]:
b.insert(2, 100)

In [8]:
b

[1, 2, 100, 3, 10, 10, 10]

In [9]:
b.pop(4)

10

In [10]:
b

[1, 2, 100, 3, 10, 10]

In [11]:
b.pop()

10

In [12]:
b

[1, 2, 100, 3, 10]

In [14]:
b.remove(2) # remove() directly takes the value and pop() takes index

In [15]:
b

[1, 100, 3, 10]

In [17]:
b.clear()

In [18]:
b

[]

In [19]:
b.append(1)

In [20]:
b.append(2)

In [21]:
b.append(3)

In [22]:
b

[1, 2, 3]

In [23]:
c = [10, 20, 30]

In [24]:
b.extend(c)

In [25]:
b

[1, 2, 3, 10, 20, 30]

In [26]:
b[3] = 4

In [27]:
b

[1, 2, 3, 4, 20, 30]

In [30]:
d = [True, False, 0, [1, 2, 4, 5]]

In [31]:
d.extend(b)

In [32]:
d

[True, False, 0, [1, 2, 4, 5], 1, 2, 3, 4, 20, 30]

In [33]:
d.count(1)

2

In [34]:
tuple1 = ( 1, 2, 3, "Python", True, 5.8, [1, 2, 3])

In [35]:
tuple1

(1, 2, 3, 'Python', True, 5.8, [1, 2, 3])

In [36]:
tuple1 * 2

(1,
 2,
 3,
 'Python',
 True,
 5.8,
 [1, 2, 3],
 1,
 2,
 3,
 'Python',
 True,
 5.8,
 [1, 2, 3])

In [37]:
tuple1[1]

2

In [38]:
tuple1.index(3)

2

In [39]:
tuple1.count(1)

2

In [40]:
tuple1.append(False)

AttributeError: 'tuple' object has no attribute 'append'

In [43]:
d

[True, False, 0, [1, 2, 4, 5], 1, 2, 3, 4, 20, 30]

In [44]:
tuple1

(1, 2, 3, 'Python', True, 5.8, [1, 2, 3])

In [45]:
d.__sizeof__()

168

In [46]:
tuple1.__sizeof__()

80

In [47]:
list2 = list(tuple1)

In [48]:
list2

[1, 2, 3, 'Python', True, 5.8, [1, 2, 3]]

In [49]:
x = (1, 2, 3, True, False, 3.0, "Python")

In [50]:
type(x)

tuple

In [51]:
new_tuple = ([1, 2, 3, True, False, 3.0, "Python"])

In [52]:
id(new_tuple)

4434108352

In [54]:
new_tuple.append(10)

In [55]:
new_tuple

[1, 2, 3, True, False, 3.0, 'Python', 10]

# Set in Python

set1 = {1, 3, 5}
set2 = {10, 50, 10}

In [58]:
set1 = {1, 3, 5, 100}
set2 = {10, 50, 10}

In [59]:
set1.union(set2)

{1, 3, 5, 10, 50, 100}

In [60]:
set1.intersection(set2)

set()

In [62]:
set1.pop()

1

In [63]:
set1

{3, 5, 100}

In [64]:
set2.pop()

10

In [65]:
set2

{50}

In [68]:
set2.add(10)

In [69]:
set2

{10, 50}

In [70]:
set1.add(1)

In [71]:
set1.add("Python")

In [72]:
set1

{1, 100, 3, 5, 'Python'}

In [73]:
set1.add(True)

In [74]:
set1

{1, 100, 3, 5, 'Python'}

In [75]:
set1.add(9.0)

In [76]:
set1

{1, 100, 3, 5, 9.0, 'Python'}

In [77]:
set1.add(True)

In [78]:
set1

{1, 100, 3, 5, 9.0, 'Python'}

In [79]:
set1.add(set2)

TypeError: unhashable type: 'set'

In [80]:
# set can only contain immutable part, i.e : integer, boolean, float, tuple, string

# dict

In [81]:
# it is the collections of keys and values

In [83]:
dict1 = {

    "s1" : 10,
    "set2" : 20,
    "set3" : 30
}

In [84]:
dict1["set3"]

30

In [87]:
dict2 = {
    1 : [1, 2, 3],
    3.0 : (2, 4, 7),
    True : "Boolean",
    "Hello" : {3, 6},
    4 : 4,
    (2, 4) : {1 : "first", 2: "second"}
}  #keys should be immutable i.e it will support integer, float, boolean, tuple & it won't support list and set

In [88]:
dict2

{1: 'Boolean',
 3.0: (2, 4, 7),
 'Hello': {3, 6},
 4: 4,
 (2, 4): {1: 'first', 2: 'second'}}

In [89]:
dict2[4] = "four"

In [90]:
dict2

{1: 'Boolean',
 3.0: (2, 4, 7),
 'Hello': {3, 6},
 4: 'four',
 (2, 4): {1: 'first', 2: 'second'}}

In [91]:
dict1.update(dict2)

In [92]:
dict1

{'s1': 10,
 'set2': 20,
 'set3': 30,
 1: 'Boolean',
 3.0: (2, 4, 7),
 'Hello': {3, 6},
 4: 'four',
 (2, 4): {1: 'first', 2: 'second'}}

In [96]:
dict1["number"] = 4

In [101]:
dict1

{'s1': 10,
 'set2': 20,
 'set3': 30,
 1: 'Boolean',
 3.0: (2, 4, 7),
 'Hello': {3, 6},
 4: 'four',
 (2, 4): {1: 'first', 2: 'second'},
 'number': 4}

In [106]:
dict1[4] = dict1.pop("number")

KeyError: 'number'

In [105]:
dict1

{'s1': 10,
 'set2': 20,
 'set3': 30,
 1: 'Boolean',
 3.0: (2, 4, 7),
 'Hello': {3, 6},
 4: 4,
 (2, 4): {1: 'first', 2: 'second'}}

In [109]:
dict1.pop(4)

4

In [110]:
dict1

{'s1': 10,
 'set2': 20,
 'set3': 30,
 1: 'Boolean',
 3.0: (2, 4, 7),
 'Hello': {3, 6},
 (2, 4): {1: 'first', 2: 'second'}}

In [111]:
dict1["number"] = 4

In [108]:
a = 10
if a >= 8:
    a  = 15
elif a >= 14:
    a = 17
elif a >= 16:
    a = 10
else:
    11

In [112]:
a = 10
if a <= 8:
    print("first")
elif a >= 8:
    print("first_yes")
elif a == 10:
    print("second_yes")
else:
    print("no")

first_yes

In [116]:
a = [1, 4, 6, 7, 10, 20, 100]
b = []
for i in a:
    b.append(i+5)
print(b)

[6, 9, 11, 12, 15, 25, 105]

In [114]:
x = ["python", "sam", "class"]
y = []
for i in x:
    y.append(i.upper())
print(y)

['PYTHON', 'SAM', 'CLASS']

In [117]:
x = 15
x = x + 5
print(x)

20

In [118]:
print(1//2 + 1.0/2)

0.5